DOCTYPE
HTML
    head
        link(rel="stylesheet", href="/static/main.css")
        title 쿼카
    body
        script(src="/static/main.js")
        include ../partials/header
        .content
            block content