DOCTYPE
HTML
    head
        link(rel="stylesheet", href="/static/styles.css")
        title 쿼카
    body
        script(src="/static/main.js")
        h2 안녕 쿼카 :)
    include ../partials/header
    block content