extend layouts/main

block content 
    .content_main
        form(action=routes.login, method="post")
            .login_group
                label(for="user_email", value="email") 이메일 
                input.login_input(type="text") 
            .login_group
                label(for="user_password") 비밀번호
                input.login_input(type="password")
            .login_button 
                button.login_btn 로그인
        form(action=routes.join, method="post")
            .login_button 
                button.kakao_login_btn 카카오 로그인
            