extend layouts/main

block content
    .content_main
        h4 오늘의 상담일기
        form(action=routes.note, method="post")
            .note_group
                textarea.note_box(name="dairy", placeholder="새로운 쿼카 일기", cols="60", rows="10")
            .note_group
                button.note_btn 저장하기
